<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.system.mapper.ManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="managerResultMap" type="org.springblade.modules.system.entity.Manager">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="is_lock" property="isLock"/>
        <result column="is_constructor" property="isConstructor"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="managerResultMap1" type="org.springblade.modules.system.entity.Manager">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="is_lock" property="isLock"/>
        <result column="is_constructor" property="isConstructor"/>
        <result column="remark" property="remark"/>
        <result column="real_name" property="realName"/>
        <result column="dept_name" property="deptName"/>

    </resultMap>


    <resultMap id="managerVOResultMap" type="org.springblade.modules.system.vo.ManagerVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="is_lock" property="isLock"/>
        <result column="is_constructor" property="isConstructor"/>
        <result column="remark" property="remark"/>
        <result column="name" property="userName"/>
    </resultMap>

    <resultMap id="managerVO1ResultMap" type="org.springblade.modules.system.vo.ManagerVO">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="project_name" property="projectName"/>
        <result column="bid_status" property="bidStatus"/>
        <result column="status" property="status"/>
        <result column="record_name" property="recordName"/>
        <result column="record_code" property="recordCode"/>
        <result column="bidding_type" property="biddingType"/>
        <result column="project_catrgory" property="projectCatrgory"/>
        <result column="industry" property="industry"/>
        <result column="major" property="major"/>
        <result column="region" property="region"/>
        <result column="tender_date" property="tenderDate"/>
        <result column="is_relationship" property="isRelationship"/>
        <result column="contract_amount" property="contractAmount"/>
        <result column="client_name" property="clientName"/>
        <result column="client_type" property="clientType"/>
        <result column="is_win" property="isWin"/>
        <result column="winbid_time" property="winBidTime"/>
    </resultMap>


    <select id="selectManagerPage" resultMap="managerResultMap">
        select * from blade_manager where is_deleted = 0
    </select>

    <select id="selectManagerVOPage" resultMap="managerVOResultMap">
        select bm.*,bu.`name` from blade_manager bm
        left join blade_user bu on bm.user_id=bu.id
    </select>

    <select id="selectManagerDetail" resultMap="managerResultMap1" parameterType="Long">
     SELECT a.*,b.real_name,c.dept_name FROM blade_manager a
    INNER JOIN blade_user b on a.user_id = b.id and a.id = #{id}
		LEFT JOIN blade_dept c on b.dept_id = c.id
    </select>

    <select id="selectManagerList" resultMap="managerResultMap1" >
       SELECT a.*,b.real_name,c.dept_name FROM blade_manager a
     INNER JOIN blade_user b on a.user_id = b.id
		LEFT JOIN blade_dept c on b.dept_id = c.id
    </select>

    <select id="selectProjectBusiness" resultMap="managerVO1ResultMap">
    SELECT a.id,b.project_name,b.bid_status,b.status,

            bus.record_name,bus.record_code,bus.bidding_type,bus.project_catrgory,bus.industry,bus.major,bus.region,bus.tender_date,bus.is_relationship,

            bus.contract_amount,bus.client_name,bus.client_type,

            br.is_win,br.winbid_time
 FROM blade_manager a

 INNER JOIN project_bid b on a.id = b.manager_id and b.is_deleted = 0 and a.id = #{id}

 LEFT JOIN project_business bus on b.business_id = bus.id

 LEFT JOIN project_bidresult br on b.id = br.id
    </select>
</mapper>
