<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.system.mapper.ManagerLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="managerLogResultMap" type="org.springblade.modules.system.entity.ManagerLog">
        <id column="id" property="id"/>
        <result column="manager_id" property="managerId"/>
        <result column="user_id" property="userId"/>
        <result column="whether_unlock" property="whetherUnlock"/>
    </resultMap>


    <select id="selectManagerLogPage" resultMap="managerLogResultMap">
        select * from blade_manager_log where is_deleted = 0
    </select>

</mapper>
