<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.project.mapper.BidMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="bidResultMap" type="org.springblade.modules.project.entity.Bid">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="bid_code" property="bidCode"/>
        <result column="project_name" property="projectName"/>
        <result column="is_frame" property="isFrame"/>
        <result column="manager_id" property="managerId"/>
        <result column="bid_amount" property="bidAmount"/>
        <result column="bid_open_time" property="bidOpenTime"/>
        <result column="bid_agent_name" property="bidAgentName"/>
        <result column="bid_agent_code" property="bidAgentCode"/>
        <result column="agent_contact" property="agentContact"/>
        <result column="tender_no" property="tenderNo"/>
        <result column="public_web_site" property="publicWebSite"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="is_need_bond" property="isNeedBond"/>
        <result column="bond_amount" property="bondAmount"/>
        <result column="bond_pay_method" property="bondPayMethod"/>
        <result column="bond_recovery_time" property="bondRecoveryTime"/>
        <result column="bond_status" property="bondStatus"/>
        <result column="is_win_bid" property="isWinBid"/>
        <result column="is_fail_bid" property="isFailBid"/>
        <result column="win_bid_time" property="winBidTime"/>
        <result column="quotation_method" property="quotationMethod"/>
        <result column="offer" property="offer"/>
        <result column="discount" property="discount"/>
        <result column="drop_point" property="dropPoint"/>
        <result column="continue_dept" property="continueDept"/>
        <result column="gross_rate" property="grossRate"/>
        <result column="service_cycle" property="serviceCycle"/>
        <result column="bid_status" property="bidStatus"/>
        <result column="is_delete" property="isDelete"/>
        <result column="is_cancel" property="isCancel"/>
        <result column="is_advance_pay" property="isAdvancePay"/>
        <result column="advance_pay_reason" property="advancePayReason"/>
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="apply_time" property="applyTime"/>
        <result column="file_attach id" property="fileAttachId"/>
    </resultMap>

    <resultMap id="bidListMap" type="org.springblade.modules.project.dto.BidListDTO">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="project_name" property="projectName"/>
        <result column="bid_status" property="bidStatus"/>
        <result column="status" property="status"/>
        <result column="record_name" property="recordName"/>
        <result column="record_code" property="recordCode"/>
        <result column="bidding_type" property="biddingType"/>
        <result column="project_catrgory" property="projectCatrgory"/>
        <result column="expand_mode" property="expandMode"/>
        <result column="industry" property="industry"/>
        <result column="major" property="major"/>
        <result column="region" property="region"/>
        <result column="tender_date" property="tenderDate"/>
        <result column="is_relationship" property="isRelationship"/>
        <result column="contract_amount" property="contractAmount"/>
        <result column="client_name" property="clientName"/>
        <result column="client_type" property="clientType"/>
        <result column="is_win" property="isWin"/>
        <result column="winbid_time" property="winBidTime"/>
    </resultMap>



    <resultMap id="bidFormResultMap" type="org.springblade.modules.project.dto.BidFormDTO">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="bid_code" property="bidCode"/>
        <result column="project_name" property="projectName"/>
        <result column="is_frame" property="isFrame"/>
        <result column="manager_id" property="managerId"/>
        <result column="bid_amount" property="bidAmount"/>
        <result column="bid_open_time" property="bidOpenTime"/>
        <result column="bid_agent_name" property="bidAgentName"/>
        <result column="bid_agent_code" property="bidAgentCode"/>
        <result column="agent_contact" property="agentContact"/>
        <result column="tender_no" property="tenderNo"/>
        <result column="public_web_site" property="publicWebSite"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="is_need_bond" property="isNeedBond"/>
        <result column="bond_amount" property="bondAmount"/>
        <result column="bond_pay_method" property="bondPayMethod"/>
        <result column="bond_recovery_time" property="bondRecoveryTime"/>
        <result column="bond_status" property="bondStatus"/>
        <result column="is_win_bid" property="isWinBid"/>
        <result column="is_fail_bid" property="isFailBid"/>
        <result column="win_bid_time" property="winBidTime"/>
        <result column="quotation_method" property="quotationMethod"/>
        <result column="offer" property="offer"/>
        <result column="discount" property="discount"/>
        <result column="drop_point" property="dropPoint"/>
        <result column="continue_dept" property="continueDept"/>
        <result column="gross_rate" property="grossRate"/>
        <result column="service_cycle" property="serviceCycle"/>
        <result column="bid_status" property="bidStatus"/>
        <result column="is_delete" property="isDelete"/>
        <result column="is_cancel" property="isCancel"/>
        <result column="is_advance_pay" property="isAdvancePay"/>
        <result column="advance_pay_reason" property="advancePayReason"/>
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="apply_time" property="applyTime"/>

        <result column="record_name" property="recordName"/>
        <result column="record_code" property="recordCode"/>
        <result column="project_catrgory" property="projectCatrgory"/>
        <result column="bidding_type" property="biddingType"/>
        <result column="major" property="major"/>
        <result column="industry" property="industry"/>
        <result column="expand_mode" property="expandMode"/>
        <result column="client_name" property="clientName"/>
        <result column="client_type" property="clientType"/>
        <result column="client_category" property="clientCategory"/>
        <result column="client_contact" property="clientContact"/>
        <result column="client_phone" property="clientPhone"/>
        <result column="client_relationship" property="clientRelationship"/>
    </resultMap>

    <resultMap id="bidListVOMap" type="org.springblade.modules.project.vo.BidVO">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="project_name" property="projectName"/>
        <result column="bid_status" property="bidStatus"/>
        <result column="status" property="status"/>
        <result column="record_name" property="recordName"/>
        <result column="record_code" property="recordCode"/>
        <result column="bidding_type" property="biddingType"/>
        <result column="project_catrgory" property="projectCatrgory"/>
        <result column="expand_mode" property="expandMode"/>
        <result column="industry" property="industry"/>
        <result column="major" property="major"/>
        <result column="region" property="region"/>
        <result column="tender_date" property="tenderDate"/>
        <result column="is_relationship" property="isRelationship"/>
        <result column="contract_amount" property="contractAmount"/>
        <result column="client_name" property="clientName"/>
        <result column="client_type" property="clientType"/>
        <result column="is_win" property="isWin"/>
        <result column="winbid_time" property="winBidTime"/>
    </resultMap>




    <select id="selectBidPage" resultMap="bidResultMap">
        select * from project_bid where is_deleted = 0
    </select>

<!--    <select id="selectBidList" resultMap="bidFormResultMap">-->
<!--        select bid.*,bus.record_name,bus.record_code,bus.project_catrgory,bus.bidding_type,bus.major,bus.industry,bus.industry,bus.expand_mode,-->
<!--         bus.client_name,bus.client_name,bus.client_type,bus.client_category,bus.client_contact,bus.client_phone,bus.client_relationship-->
<!--         from project_bid bid-->
<!--        inner join project_business bus on bid.business_id = bus.id-->
<!--    </select>-->
    <select id="selectBidList" resultMap="bidListMap">
        select bid.id,bid.project_name,bid.bid_status,bid.status,bid.business_id,
            bus.record_name,bus.record_code,bus.bidding_type,bus.project_catrgory,bus.industry,bus.major,bus.region,bus.tender_date,bus.is_relationship,
            bus.contract_amount,bus.client_name,bus.client_type,
            br.is_win,br.winbid_time
        from project_bid bid
        inner join project_business bus on bid.business_id = bus.id
        left join project_bidresult br on bid.id = br.id
        where bid.is_deleted = 0
        <if test="bid.projectName!=null">
            and bid.project_name like concat(concat('%', #{bid.projectName}), '%')
        </if>
        <if test="bid.recordName!=null">
            and bus.record_name like concat(concat('%', #{bid.recordName}), '%')
        </if>
        <if test="bid.biddingType!=null">
            and bus.bidding_type = #{bid.biddingType}
        </if>
        <if test="bid.projectCatrgory!=null">
            and bus.project_catrgory = #{bid.projectCatrgory}
        </if>
        <if test="bid.expandMode!=null">
            and bus.expand_mode = #{bid.expandMode}
        </if>
        <if test="bid.industry!=null">
            and bus.industry = #{bid.industry}
        </if>
        order by bid.apply_time desc
    </select>



    <select id="selectBidListVO" resultMap="bidListVOMap">
        select bid.id,bid.project_name,bid.bid_status,bid.status,bid.business_id,
        bus.record_name,bus.record_code,bus.bidding_type,bus.project_catrgory,bus.industry,bus.major,bus.region,bus.tender_date,bus.is_relationship,
        bus.contract_amount,bus.client_name,bus.client_type,
        br.is_win,br.winbid_time
        from project_bid bid
        inner join project_business bus on bid.business_id = bus.id
        left join project_bidresult br on bid.id = br.id
        where bid.is_deleted = 0
        <if test="bid.projectName!=null and bid.projectName!=''">
            and bid.project_name like concat(concat('%', #{bid.projectName}), '%')
        </if>
        <if test="bid.recordName!=null and bid.recordName!=''">
            and bus.record_name like concat(concat('%', #{bid.recordName}), '%')
        </if>
        <if test="bid.biddingType!=null and bid.biddingType!=''">
            and bus.bidding_type = #{bid.biddingType}
        </if>
        <if test="bid.projectCatrgory!=null and bid.projectCatrgory!=''">
            and bus.project_catrgory = #{bid.projectCatrgory}
        </if>
        <if test="bid.expandMode!=null and bid.expandMode!=''">
            and bus.expand_mode = #{bid.expandMode}
        </if>
        <if test="bid.industry!=null and bid.industry!=''">
            and bus.industry = #{bid.industry}
        </if>
        order by bid.apply_time desc
    </select>

</mapper>
