<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.project.mapper.BidundertakeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="bidundertakeResultMap" type="org.springblade.modules.project.vo.BidundertakeVO">
        <id column="id" property="id"/>
        <result column="quality_type" property="qualityType"/>
        <result column="major" property="major"/>
        <result column="gross_rate" property="grossRate"/>
        <result column="manager_id" property="managerId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="schedules_time" property="schedulesTime"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="apply_time" property="applyTime"/>
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="file_attach_id" property="fileAttachId"/>
        <result column="project_name" property="projectName"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="bidundertakePageMap" type="org.springblade.modules.project.dto.BidundertakePageDTO">
        <id column="id" property="id"/>
        <result column="record_name" property="recordName"/>
        <result column="record_code" property="recordCode"/>
        <result column="client_id" property="clientId"/>
        <result column="client_name" property="clientName"/>
        <result column="manager_id" property="managerId"/>
        <result column="manager_name" property="managerName"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="selectBidundertakePage" resultMap="bidundertakeResultMap">
        select * from project_bidundertake where 1=1
    </select>

    <select id="selectUndertakeList" resultMap="bidundertakePageMap">
        select bid.id, bid.project_name, bid.status, bus.record_code,bus.record_name,bus.client_id,bus.client_name,bid.manager_id,
			   usr.name AS manager_name,take.*
        from project_bidundertake take
        inner join project_bid bid on bid.id = take.id
        inner join project_business bus on bid.business_id = bus.id
        inner join blade_manager man on bid.manager_id = man.id
        inner join blade_user usr on man.user_id = usr.id
        where 1 = 1
    </select>

</mapper>
