<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.EnterpriseResource.mapper.AptitudeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="aptitudeResultMap" type="org.springblade.modules.EnterpriseResource.entity.Aptitude">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
        <result column="provincial_company_id" property="provincialCompanyId"/>
        <result column="aptitude_id" property="aptitudeId"/>

        <result column="certificate_type" property="certificateType"/>
        <result column="territory_id" property="territoryId"/>
        <result column="property_id" property="propertyId"/>
        <result column="category_id" property="categoryId"/>
        <result column="classs" property="classs"/>
        <result column="class_type" property="classType"/>
        <result column="certificate_number" property="certificateNumber"/>
        <result column="issue_date" property="issueDate"/>
        <result column="period_validity" property="periodValidity"/>
        <result column="issuing_authority" property="issuingAuthority"/>
        <result column="range_application" property="rangeApplication"/>
        <result column="area_name" property="areaName"/>
    </resultMap>


    <resultMap id="aptitudeResultMapAptitudeVO" type="org.springblade.modules.EnterpriseResource.vo.AptitudeVO">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
        <result column="provincial_company_id" property="provincialCompanyId"/>
        <result column="aptitude_id" property="aptitudeId"/>

        <result column="certificate_type" property="certificateType"/>
        <result column="territory_id" property="territoryId"/>
        <result column="property_id" property="propertyId"/>
        <result column="category_id" property="categoryId"/>
        <result column="classs" property="classs"/>
        <result column="class_type" property="classType"/>
        <result column="certificate_number" property="certificateNumber"/>
        <result column="issue_date" property="issueDate"/>
        <result column="period_validity" property="periodValidity"/>
        <result column="issuing_authority" property="issuingAuthority"/>
        <result column="range_application" property="rangeApplication"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="area_name" property="areaName"/>

        <result column="file_name" property="fileName"/>
        <result column="file_size" property="fileSize"/>
        <result column="file_type" property="fileType"/>
        <result column="file_status" property="fileStatus"/>
        <result column="file_addess" property="fileAddess"/>
        <result column="ptitude_id" property="aptitudeId"/>
        <result column="file_suffix" property="fileSuffix"/>
        <result column="object_id" property="objectId"/>

        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>



    <resultMap id="aptitudeDTO" type="org.springblade.modules.EnterpriseResource.dto.AptitudeDTO">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
        <result column="provincial_company_id" property="provincialCompanyId"/>
        <result column="aptitude_id" property="aptitudeId"/>
        <result column="provincial_company_name" property="provincialCompanyName"/>
        <result column="aptitude_name" property="aptitudeName"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="territory_id" property="territoryId"/>
        <result column="property_id" property="propertyId"/>
        <result column="category_id" property="categoryId"/>
        <result column="classs" property="classs"/>
        <result column="class_type" property="classType"/>
        <result column="certificate_number" property="certificateNumber"/>
        <result column="issue_date" property="issueDate"/>
        <result column="period_validity" property="periodValidity"/>
        <result column="issuing_authority" property="issuingAuthority"/>
        <result column="range_application" property="rangeApplication"/>
        <result column="area_name" property="areaName"/>

        <collection property="AllFileList" ofType="modelFile">
            <result column="file_name" property="fileName"/>
            <result column="file_size" property="fileSize"/>
            <result column="link" property="link"/>
            <result column="file_suffix" property="fileSuffix"/>
            <result column="domain" property="domain"/>
            <result column="original_name" property="originalName"/>
            <result column="element_idex" property="elementIdex"/>
            <result column="attach_id" property="attachId"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <select id="selectAptitudePage" resultMap="aptitudeResultMapAptitudeVO" parameterType="org.springblade.modules.EnterpriseResource.entity.Aptitude">
    SELECT  T1.*,T2.area_name as territory_name,T3.area_name as property_name,T4.area_name as category_name,
			A1.full_name AS provincial_company_names,A2.full_name AS aptitude_names
	     FROM resource_aptitude T1
            LEFT JOIN resource_aptitude_catalogue T2 ON T1.territory_id = T2.id and T1.is_deleted = 0
            LEFT JOIN resource_aptitude_catalogue T3 ON  T1.property_id = T3.id and T1.is_deleted = 0
            LEFT JOIN resource_aptitude_catalogue T4 ON   T1.category_id = T4.id and T1.is_deleted = 0
		    LEFT JOIN blade_dept A1 ON T1.provincial_company_id = A1.id and T1.is_deleted = 0
		    LEFT JOIN blade_dept A2 ON T1.aptitude_id = A2.id and T1.is_deleted = 0
		    WHERE T1.tenant_id in(
                select t5.tenant_id from blade_tenant t5  where
                FIND_IN_SET(id,getTenantList(#{aptitude.tenementId})))
        <if test="aptitude.provincialCompanyId != null and aptitude.provincialCompanyId != ''">
            AND T1.provincial_company_id = #{aptitude.provincialCompanyId}
        </if>
        <if test="aptitude.aptitudeId != null and aptitude.aptitudeId != ''">
            AND T1.aptitude_id = #{aptitude.aptitudeId}
        </if>
        <if test="aptitude.territoryId != null and aptitude.territoryId != ''">
            AND T1.territory_id = #{aptitude.territoryId}
        </if>
        <if test="aptitude.propertyId != null and aptitude.propertyId != ''">
            AND T1.property_id = #{aptitude.propertyId}
        </if>
        <if test="aptitude.categoryId != null and aptitude.categoryId != ''">
            AND T1.category_id = #{aptitude.categoryId}
        </if>
    </select>

    <select id="selectAptitudeDim" resultMap="aptitudeResultMap" parameterType="org.springblade.modules.EnterpriseResource.entity.Aptitude">
        select * from resource_aptitude where is_deleted = 0
        <if test="aptitude.certificatesType != null and aptitude.certificatesType != ''">
            AND certificates_type like CONCAT('%',#{aptitude.certificatesType},'%')
        </if>
    </select>

    <select id="selectListId" resultMap="aptitudeResultMapAptitudeVO" parameterType="Long">
		select a.*,b.* from resource_aptitude a,resource_file b
			where
			a.is_deleted = 0
			and b.object_value = 1
			and a.id = b.object_id
			and b.object_id = #{objectId}
    </select>

    <select id="aptitudeTypeId" resultMap="aptitudeResultMapAptitudeVO" parameterType="Long">
	    SELECT * FROM resource_aptitude
            WHERE aptitude_type = #{aptitudeType}  and is_deleted = 0
    </select>

    <select id="selectcatalogueLsit" resultMap="aptitudeResultMapAptitudeVO" parameterType="Long">
	    select * from resource_aptitude where id in(
            select t1.id from resource_aptitude_catalogue t1 where
                 FIND_IN_SET(t1.id,getaPtitudeList(#{id})))
    </select>

    <select id="selectTenantLsit" resultMap="aptitudeResultMapAptitudeVO" parameterType="Long">
        select * from resource_aptitude   WHERE tenant_id in(
    select t1.tenant_id from blade_tenant t1  where
    FIND_IN_SET(id,getTenantList(#{id})))
    </select>

    <select id="selectLsitID" resultType="org.springblade.modules.EnterpriseResource.excel.AptitudeExcel" parameterType="org.springblade.modules.EnterpriseResource.entity.Aptitude">
        select * from resource_aptitude   WHERE tenant_id in(
    select t1.tenant_id from blade_tenant t1  where
    FIND_IN_SET(id,getTenantList(#{tenementId})))
    </select>

    <select id="selectIds" resultType="org.springblade.modules.EnterpriseResource.excel.AptitudeExcel" parameterType="Long">
        select * from resource_aptitude where id = #{id}

    </select>


    <select id="selectFileLsit" resultMap="aptitudeDTO" parameterType="Long">
      SELECT t1.*,t2.* FROM resource_aptitude t1
        LEFT  JOIN resource_file t2 on t1.id = t2.object_id
					AND t2.object_value = 1
					AND t2.is_deleted = 0
			     where  t1.id = #{id}
    </select>


    <select id="selectDetail" resultMap="aptitudeDTO" parameterType="Long">
            SELECT * FROM resource_aptitude
			where  id = #{id}
    </select>

    <select id="exportAptitude" resultType="org.springblade.modules.EnterpriseResource.excel.AptitudeExcel">
        SELECT tenant_id, provincial_company_name, aptitude_name, certificate_type,territory_id,property_id,category_id, classs,
        class_type, certificate_number, issuing_authority, range_application, issue_date,period_validity
        FROM resource_aptitude ${ew.customSqlSegment}
    </select>




</mapper>
