<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.EnterpriseResource.mapper.AptitudeCatalogueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="aptitudeCatalogueResultMap" type="org.springblade.modules.EnterpriseResource.entity.AptitudeCatalogue">
        <id column="id" property="id"/>
        <result column="industry_property" property="industryProperty"/>
        <result column="business_type" property="businessType"/>
        <result column="p_id" property="pId"/>
        <result column="area_name" property="areaName"/>
    </resultMap>


    <select id="selectAptitudeCataloguePage" resultMap="aptitudeCatalogueResultMap">
        select * from resource_aptitude_catalogue where is_deleted = 0
    </select>

    <select id="selectAreaName" resultMap="aptitudeCatalogueResultMap" parameterType="Long">
       select  area_name from resource_aptitude_catalogue  where id = #{id}
    </select>

    <select id="selectID" resultMap="aptitudeCatalogueResultMap">
       select  id,p_id from resource_aptitude_catalogue  where area_name = #{areaName} and p_id = #{pId}
    </select>

    <select id="selectPid" resultMap="aptitudeCatalogueResultMap" parameterType="Long">
         SELECT area_name,p_id,id FROM resource_aptitude_catalogue
             WHERE p_id = #{id}
    </select>

    <select id="selectUppermostList" resultMap="aptitudeCatalogueResultMap">
         SELECT area_name,p_id,id FROM resource_aptitude_catalogue
             WHERE p_id = 0000
    </select>

</mapper>
