<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.EnterpriseResource.mapper.AptitudeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="aptitudeResultMap" type="org.springblade.modules.EnterpriseResource.entity.Aptitude">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
        <result column="provincial_company_name" property="provincialCompanyName"/>
        <result column="aptitude_name" property="aptitudeName"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="column_id" property="columnId"/>
        <result column="classs" property="classs"/>
        <result column="class_type" property="classType"/>
        <result column="certificate_number" property="certificateNumber"/>
        <result column="issue_date" property="issueDate"/>
        <result column="period_validity" property="periodValidity"/>
        <result column="issuing_authority" property="issuingAuthority"/>
        <result column="range_application" property="rangeApplication"/>
        <result column="area_name" property="areaName"/>
    </resultMap>


    <resultMap id="aptitudeResultMapAptitudeVO" type="org.springblade.modules.EnterpriseResource.vo.AptitudeVO">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
        <result column="provincial_company_name" property="provincialCompanyName"/>
        <result column="aptitude_name" property="aptitudeName"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="column_id" property="columnId"/>
        <result column="classs" property="classs"/>
        <result column="class_type" property="classType"/>
        <result column="certificate_number" property="certificateNumber"/>
        <result column="issue_date" property="issueDate"/>
        <result column="period_validity" property="periodValidity"/>
        <result column="issuing_authority" property="issuingAuthority"/>
        <result column="range_application" property="rangeApplication"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="area_name" property="areaName"/>

        <result column="file_name" property="fileName"/>
        <result column="file_size" property="fileSize"/>
        <result column="file_type" property="fileType"/>
        <result column="file_status" property="fileStatus"/>
        <result column="file_addess" property="fileAddess"/>
        <result column="ptitude_id" property="aptitudeId"/>
        <result column="file_suffix" property="fileSuffix"/>
        <result column="object_id" property="objectId"/>

        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>



    <resultMap id="aptitudeDTO" type="org.springblade.modules.EnterpriseResource.dto.AptitudeDTO">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>
        <result column="provincial_company_name" property="provincialCompanyName"/>
        <result column="aptitude_name" property="aptitudeName"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="column_id" property="columnId"/>
        <result column="classs" property="classs"/>
        <result column="class_type" property="classType"/>
        <result column="certificate_number" property="certificateNumber"/>
        <result column="issue_date" property="issueDate"/>
        <result column="period_validity" property="periodValidity"/>
        <result column="issuing_authority" property="issuingAuthority"/>
        <result column="range_application" property="rangeApplication"/>
        <result column="area_name" property="areaName"/>


        <collection property="AllFileList" ofType="AllFile">
            <result column="file_name" property="fileName"/>
            <result column="file_size" property="fileSize"/>
            <result column="file_addess" property="fileAddess"/>
            <result column="object_value" property="objectValue"/>
            <result column="file_suffix" property="fileSuffix"/>
            <result column="domain" property="domain"/>
            <result column="original_name" property="originalName"/>
            <result column="extension" property="extension"/>
        </collection>
    </resultMap>

    <select id="selectAptitudePage" resultMap="aptitudeResultMap">
        select * from resource_aptitude where is_deleted = 0
    </select>

    <select id="selectAptitudeDim" resultMap="aptitudeResultMap" parameterType="org.springblade.modules.EnterpriseResource.entity.Aptitude">
        select * from resource_aptitude where is_deleted = 0
        <if test="aptitude.certificatesType != null and aptitude.certificatesType != ''">
            AND certificates_type like CONCAT('%',#{aptitude.certificatesType},'%')
        </if>
    </select>

    <select id="selectListId" resultMap="aptitudeResultMapAptitudeVO" parameterType="Long">
		select a.*,b.* from resource_aptitude a,resource_file b
			where
			a.is_deleted = 0
			and b.object_value = 1
			and a.id = b.object_id
			and b.object_id = #{objectId}
    </select>

    <select id="aptitudeTypeId" resultMap="aptitudeResultMapAptitudeVO" parameterType="Long">
	    SELECT * FROM resource_aptitude
            WHERE aptitude_type = #{aptitudeType}  and is_deleted = 0
    </select>

    <select id="selectcatalogueLsit" resultMap="aptitudeResultMapAptitudeVO" parameterType="Long">
	    select * from resource_aptitude where business_area in(
            select t1.id from resource_aptitude_catalogue t1 where
                 FIND_IN_SET(t1.id,getaPtitudeList(#{id})))
    </select>

    <select id="selectFileLsit" resultMap="aptitudeDTO" parameterType="Long">
    SELECT t1.*,t2.*,t3.area_name FROM resource_aptitude t1
        LEFT  JOIN resource_file t2 on t1.id = t2.object_id
					AND t2.object_value = 1
					AND t2.is_deleted = 0
		LEFT  JOIN  resource_aptitude_catalogue t3 on t3.id = t1.column_id
         WHERE
				t1.id = #{id}
    </select>

    <select id="selectDetail" resultMap="aptitudeDTO" parameterType="Long">
            SELECT * FROM resource_aptitude
			where  id = #{id}
    </select>

</mapper>
