<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.EnterpriseResource.mapper.AptitudeCertificateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="aptitudeCertificateResultMap" type="org.springblade.modules.EnterpriseResource.entity.AptitudeCertificate">
        <id column="id" property="id"/>
        <result column="certificate_name" property="certificateName"/>
        <result column="create_time" property="createTime"/>
        <result column="use_id" property="useId"/>
    </resultMap>


    <select id="selectAptitudeCertificatePage" resultMap="aptitudeCertificateResultMap">
        select * from resource_aptitude_certificate
    </select>


    <select id="selectName" resultMap="aptitudeCertificateResultMap">
        select id from resource_aptitude_certificate  where  certificate_name = #{name}
    </select>

    <select id="selectId1" resultMap="aptitudeCertificateResultMap">
        select certificate_name from resource_aptitude_certificate  where  id  = #{id}
    </select>
</mapper>
