<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.EnterpriseResource.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="fileResultMap" type="org.springblade.modules.EnterpriseResource.entity.AllFile">
        <id column="id" property="id"/>
        <result column="file_name" property="fileName"/>
        <result column="file_size" property="fileSize"/>
        <result column="file_type" property="fileType"/>
        <result column="file_status" property="fileStatus"/>
        <result column="file_addess" property="fileAddess"/>
        <result column="create_time" property="createTime"/>
        <result column="object_id" property="objectId"/>
        <result column="i" property="objectValue"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="file_suffix" property="fileSuffix"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>


    <select id="selectFilePage" resultMap="fileResultMap">
        select * from resource_file where is_deleted = 0
    </select>

</mapper>
